@charset "UTF-8";

	
	.sampleText{
		font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
		font-size:18pt;
		font-weight:bold;
		font-style:italic;
		letter-spacing:2pt;
		line-height:24pt;
		color:#047f0a;	
		width:400px;
		border-top: solid 5px #ff0000;
		border-left: dotted 5px blue;
		border-right: solid 5px #fff000;
		border-bottom: dotted 5px #ffff00;
		padding:10px;
		margin:100px;
		
	}
	
	.backgroundImage{
		background: url("sky.jpg") top center no-repeat;	
	}
	
	a {		
		color:yellowgreen;
		font-weight: bold;
		font-size:15pt;
		text-decoration: none;		
		
	}
	
	a:hover {		
		text-decoration:underline;
		
	}
	
	#topArea{
		
		background-color:#000000;		
		height:50px;
	
		
	}
	
	#bottomArea{
		
		background-color:#000000;		
		height:50px;
		
		
	}
	
	
